# DuckDB & Database Files
*.duckdb
*.duckdb.wal
*.db

# dbt Artifacts & Logs
/logs/
/target/
dbt_packages/

# Python & Environment
__pycache__/
*.pyc
.env
venv/
.venv/

# OS Specific
.DS_Store
Thumbs.db